In [1]:
import numpy as np
import pandas as pd
import pickle
import requests

from datetime import datetime, timedelta

from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [2]:
# Load CSV file as Pandas DataFrame
df = pd.read_csv("final_parking_dataset.csv")

# Show first 5 rows
df.head()

         date_time parking_zone
0   17/7/2022 8:47       Zone 1
1   17/7/2022 9:02       Zone 1
2  17/7/2022 11:15       Zone 1
3   18/7/2022 8:57       Zone 2
4   18/7/2022 9:12       Zone 3

In [3]:
# Convert `date_time` column into a datetime column
df['date_time'] = pd.to_datetime(df['date_time'], format='%d/%m/%Y %H:%M')

In [4]:
# See data types of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_time     245 non-null    datetime64[ns]
 1   parking_zone  245 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 4.0+ KB

In [5]:
print(f"Total number of records: {len(df)}")
print("Breakdown of parking zones:\n")
print(df.parking_zone.value_counts())

Total number of records: 245
Breakdown of parking zones:

Zone 1    114
Zone 2     73
Zone 3     58
Name: parking_zone, dtype: int64

In [6]:
# Create new features from `date_time` column
df['year'] = df['date_time'].dt.year
df['month'] = df['date_time'].dt.month
df['day'] = df['date_time'].dt.day
df['day_of_week'] = df['date_time'].dt.weekday
df['hour'] = df['date_time'].dt.hour
df['minute'] = df['date_time'].dt.minute
df['date'] = df['date_time'].dt.date
df['time'] = df['date_time'].dt.strftime('%H:%M')
df['hour_min'] = round(df['hour'] + (df['minute'] / 60), 1)

# Show first 5 rows
df.head()

,date_time,parking_zone,year,month,day,day_of_week,hour,minute,date,time,hour_min
0,2022-07-17 08:47:00,Zone 1,2022,7,17,6,8,47,2022-07-17,08:47,8.8
1,2022-07-17 09:02:00,Zone 1,2022,7,17,6,9,2,2022-07-17,09:02,9.0
2,2022-07-17 11:15:00,Zone 1,2022,7,17,6,11,15,2022-07-17,11:15,11.2
3,2022-07-18 08:57:00,Zone 2,2022,7,18,0,8,57,2022-07-18,08:57,9.0
4,2022-07-18 09:12:00,Zone 3,2022,7,18,0,9,12,2022-07-18,09:12,9.2

In [7]:
# Convert `month` to categorical
df['month'].replace({1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun',
                     7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}, inplace=True)
df['month'] = df['month'].astype('category') 
df['month'].cat.set_categories(new_categories=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
                                               'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], ordered=True, inplace=True)

# Convert `day_of_week` to categorical
df['day_of_week'].replace({0: 'Mon', 1: 'Tue', 2: 'Wed', 3: 'Thu', 4: 'Fri', 5: 'Sat', 6: 'Sun'}, inplace=True)
df['day_of_week'] = df['day_of_week'].astype('category') 
df['day_of_week'].cat.set_categories(new_categories=['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'], 
                                     ordered=True, inplace=True)

# Convert `hour` to categorical
df['hour'] = df['hour'].astype('category') 
df['hour'].cat.set_categories(new_categories=list(range(24)), ordered=True, inplace=True)

# Convert `parking_zone` to categorical
df['parking_zone'] = df['parking_zone'].astype('category') 
df['parking_zone'].cat.set_categories(new_categories=['Zone 1', 'Zone 2', 'Zone 3'], ordered=True, inplace=True)

# Show first 5 rows
df.head()

/var/folders/sk/mhxp_9vj5j7fvwbv0tspsvlh0000gn/T/ipykernel_3181/2431819636.py:5: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df['month'].cat.set_categories(new_categories=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
/var/folders/sk/mhxp_9vj5j7fvwbv0tspsvlh0000gn/T/ipykernel_3181/2431819636.py:11: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df['day_of_week'].cat.set_categories(new_categories=['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
/var/folders/sk/mhxp_9vj5j7fvwbv0tspsvlh0000gn/T/ipykernel_3181/2431819636.py:16: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df['hour'].cat.set_categories(new_categories=list(range(24)), ordered=True, inplace=True)
/var/folders/sk/mhxp_9vj5j7fvwbv0tspsvlh0000gn/T/ipykernel_3181/2431819636.py:20: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df['parking_zone'].cat.set_categories(new_categories=['Zone 1', 'Zone 2', 'Zone 3'], ordered=True, inplace=True)

,date_time,parking_zone,year,month,day,day_of_week,hour,minute,date,time,hour_min
0,2022-07-17 08:47:00,Zone 1,2022,Jul,17,Sun,8,47,2022-07-17,08:47,8.8
1,2022-07-17 09:02:00,Zone 1,2022,Jul,17,Sun,9,2,2022-07-17,09:02,9.0
2,2022-07-17 11:15:00,Zone 1,2022,Jul,17,Sun,11,15,2022-07-17,11:15,11.2
3,2022-07-18 08:57:00,Zone 2,2022,Jul,18,Mon,8,57,2022-07-18,08:57,9.0
4,2022-07-18 09:12:00,Zone 3,2022,Jul,18,Mon,9,12,2022-07-18,09:12,9.2

In [8]:
def parse_date(date_string):
    """Parse a date string in YYYY-MM-DD format as a datetime object."""
    
    return datetime.strptime(date_string, '%Y-%m-%d').date()

In [9]:
def get_ph_and_eve(year='2021'):
    """Return lists of parsed dates for Singapore's public holidays and public holday eves."""
    
    if year == '2021':
        url = 'https://data.gov.sg/api/action/datastore_search?resource_id=550f6e9e-034e-45a7-a003-cf7f7e252c9a&'
    
    elif year == '2022':
        url = 'https://data.gov.sg/api/action/datastore_search?resource_id=04a78f5b-2d12-4695-a6cd-d2b072bc93fe&'
    
    data = requests.get(url).json()
    ph_parsed = [parse_date(ele['date']) for ele in data['result']['records']]
    eve_parsed = [parse_date(ele['date']) - timedelta(days=1) for ele in data['result']['records']]
    
    return ph_parsed, eve_parsed

In [10]:
ph_parsed, eve_parsed = get_ph_and_eve(year='2021')
print(f'2022 Public Holidays: {ph_parsed}')
print()
print(f'2022 Public Holiday Eves: {eve_parsed}')

2022 Public Holidays: [datetime.date(2021, 1, 1), datetime.date(2021, 2, 12), datetime.date(2021, 2, 13), datetime.date(2021, 4, 2), datetime.date(2021, 5, 1), datetime.date(2021, 5, 13), datetime.date(2021, 5, 26), datetime.date(2021, 7, 20), datetime.date(2021, 8, 9), datetime.date(2021, 11, 4), datetime.date(2021, 12, 25)]

2022 Public Holiday Eves: [datetime.date(2020, 12, 31), datetime.date(2021, 2, 11), datetime.date(2021, 2, 12), datetime.date(2021, 4, 1), datetime.date(2021, 4, 30), datetime.date(2021, 5, 12), datetime.date(2021, 5, 25), datetime.date(2021, 7, 19), datetime.date(2021, 8, 8), datetime.date(2021, 11, 3), datetime.date(2021, 12, 24)]

In [11]:
# Create features for dates of public holidays and public holiday eves
ph, eve = get_ph_and_eve(year='2021')
df['ph'] = np.where(df['date'].isin(ph), 'ph', '')
df['eve'] = np.where(df['date'].isin(eve), 'eve', '')
df['ph_eve'] = df['ph'] + df['eve']
df['ph_eve'].replace('', 'nil', inplace=True)

# Select and rearrange columns
df = df[['date', 'time', 'month', 'day', 'day_of_week', 'hour', 
         'minute', 'hour_min', 'ph_eve', 'parking_zone']]

In [12]:
# Show first 5 rows
df.head()

,date,time,month,day,day_of_week,hour,minute,hour_min,ph_eve,parking_zone
0,2022-07-17,08:47,Jul,17,Sun,8,47,8.8,nil,Zone 1
1,2022-07-17,09:02,Jul,17,Sun,9,2,9.0,nil,Zone 1
2,2022-07-17,11:15,Jul,17,Sun,11,15,11.2,nil,Zone 1
3,2022-07-18,08:57,Jul,18,Mon,8,57,9.0,nil,Zone 2
4,2022-07-18,09:12,Jul,18,Mon,9,12,9.2,nil,Zone 3

In [13]:
def extract_all_features(data, year='2021'):
    """Extract all features given a DataFrame containing a datetime string in YYYY-MM-DD HH:MM:SS format."""
    
    df = data.copy()
    df['date_time'] = pd.to_datetime(df['date_time'], format='%d/%m/%Y %H:%M')
    
    # Create new features from `date_time`
    df['year'] = df['date_time'].dt.year
    df['month'] = df['date_time'].dt.month
    df['day'] = df['date_time'].dt.day
    df['day_of_week'] = df['date_time'].dt.weekday
    df['hour'] = df['date_time'].dt.hour
    df['minute'] = df['date_time'].dt.minute
    df['date'] = df['date_time'].dt.date
    df['time'] = df['date_time'].dt.strftime('%H:%M')
    df['hour_min'] = round(df['hour'] + (df['minute'] / 60), 1)
   
    # Convert `month` to categorical
    df['month'].replace({1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun',
                         7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}, inplace=True)
    df['month'] = df['month'].astype('category') 
    df['month'].cat.set_categories(new_categories=['Jan', 'Feb', 'Mar', 
                                                   'Apr', 'May', 'Jun', 
                                                   'Jul', 'Aug', 'Sep', 
                                                   'Oct', 'Nov', 'Dec'], 
                                   ordered=True, inplace=True)

    # Convert `day_of_week` to categorical
    df['day_of_week'].replace({0: 'Mon', 1: 'Tue', 2: 'Wed', 3: 'Thu', 4: 'Fri', 5: 'Sat', 6: 'Sun'}, inplace=True)
    df['day_of_week'] = df['day_of_week'].astype('category') 
    df['day_of_week'].cat.set_categories(new_categories=['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'], 
                                         ordered=True, inplace=True)
 # Convert `hour` to categorical
    df['hour'] = df['hour'].astype('category') 
    df['hour'].cat.set_categories(new_categories=list(range(24)), ordered=True, inplace=True)

    # Create features for dates of public holidays and public holiday eves
    ph, eve = get_ph_and_eve(year=year)
    df['ph'] = np.where(df['date'].isin(ph), 'ph', '')
    df['eve'] = np.where(df['date'].isin(eve), 'eve', '')
    df['ph_eve'] = df['ph'] + df['eve']
    df['ph_eve'].replace('', 'nil', inplace=True)

    # Select and rearrange columns
    try:
        df = df[['date', 'time', 'month', 'day', 'day_of_week', 'hour', 'minute', 'hour_min', 'ph_eve', 'parking_zone']] 

    except KeyError:
        df = df[['date', 'time', 'month', 'day', 'day_of_week', 'hour', 'minute', 'hour_min', 'ph_eve']] 
          
    return df

In [14]:
df['parking_zone'] = df['parking_zone'].replace({'Zone 1':1, 'Zone 2' :2, 'Zone 3' :3})

In [15]:
df

,date,time,month,day,day_of_week,hour,minute,hour_min,ph_eve,parking_zone
0,2022-07-17,08:47,Jul,17,Sun,8,47,8.8,nil,1
1,2022-07-17,09:02,Jul,17,Sun,9,2,9.0,nil,1
2,2022-07-17,11:15,Jul,17,Sun,11,15,11.2,nil,1
3,2022-07-18,08:57,Jul,18,Mon,8,57,9.0,nil,2
4,2022-07-18,09:12,Jul,18,Mon,9,12,9.2,nil,3
...,...,...,...,...,...,...,...,...,...,...
240,2022-09-21,08:45,Sep,21,Wed,8,45,8.8,nil,2
241,2022-09-21,10:45,Sep,21,Wed,10,45,10.8,nil,3
242,2022-09-22,08:47,Sep,22,Thu,8,47,8.8,nil,2
243,2022-09-22,10:55,Sep,22,Thu,10,55,10.9,nil,3
244,2022-09-22,11:05,Sep,22,Thu,11,5,11.1,nil,2

In [16]:
# Load CSV file as Pandas DataFrame
df = pd.read_csv("final_parking_dataset.csv")
df = extract_all_features(df, '2022')

/var/folders/sk/mhxp_9vj5j7fvwbv0tspsvlh0000gn/T/ipykernel_3181/3408766238.py:22: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df['month'].cat.set_categories(new_categories=['Jan', 'Feb', 'Mar',
/var/folders/sk/mhxp_9vj5j7fvwbv0tspsvlh0000gn/T/ipykernel_3181/3408766238.py:31: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df['day_of_week'].cat.set_categories(new_categories=['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
/var/folders/sk/mhxp_9vj5j7fvwbv0tspsvlh0000gn/T/ipykernel_3181/3408766238.py:35: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df['hour'].cat.set_categories(new_categories=list(range(24)), ordered=True, inplace=True)

In [17]:
# Make a copy of `df`
train_df = df.copy()

# Select features
train_df = train_df[["hour_min", "day_of_week","ph_eve", "parking_zone"]]
# Show first 5 rows
train_df.head()

   hour_min day_of_week ph_eve parking_zone
0       8.8         Sun    nil       Zone 1
1       9.0         Sun    nil       Zone 1
2      11.2         Sun    nil       Zone 1
3       9.0         Mon    nil       Zone 2
4       9.2         Mon    nil       Zone 3

In [18]:
# Create a `Pipeline` object with `StandardScaler` for numerical feature
numeric_transformer = Pipeline(
    steps=[("scaler", StandardScaler())]
)

# Create a `OneHotEncoder` object for categorical features 
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

# Create a `ColumnTransfomer` object 
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, ["hour_min"]),
        ("cat", categorical_transformer, ["day_of_week", "ph_eve"]),
    ]
)

# Append a Logistic Regression classifier
clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", LogisticRegression())]
)

In [19]:
# Split data into features and target variable
X = train_df.drop(columns='parking_zone')
y = train_df['parking_zone']

# Split data into training and validation sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Fit the full prediction pipeline to the training data
clf.fit(X_train, y_train)

# Generate predictions on validation data
y_pred = clf.predict(X_test)

# View classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      Zone 1       0.47      0.71      0.57        21
      Zone 2       0.75      0.16      0.26        19
      Zone 3       0.31      0.44      0.36         9

    accuracy                           0.45        49
   macro avg       0.51      0.44      0.40        49
weighted avg       0.55      0.45      0.41        49

In [20]:
# Saving the model
filename = 'modelfinal.sav'
pickle.dump(clf, open(filename, 'wb'))

In [21]:
# Sample date and time inputs 
# date, time = '2022-01-12', '16:05'
date, time = '2021-8-22', '12:30'

# Save input as a DataFrame
predict_df = pd.DataFrame({'date_time': date + ' ' + time}, index=[0])
predict_df['date_time'] = pd.to_datetime(predict_df['date_time'])
predict_df = extract_all_features(predict_df, '2022')
predict_df = predict_df[['hour_min', 'day_of_week', 'ph_eve']]

# Generate predictions
print(f"Predicted parking zone: {clf.predict(predict_df)[0]}")
print(f"Predicted probabilities: {clf.predict_proba(predict_df)[0]}")

/var/folders/sk/mhxp_9vj5j7fvwbv0tspsvlh0000gn/T/ipykernel_3181/3408766238.py:22: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df['month'].cat.set_categories(new_categories=['Jan', 'Feb', 'Mar',
/var/folders/sk/mhxp_9vj5j7fvwbv0tspsvlh0000gn/T/ipykernel_3181/3408766238.py:31: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df['day_of_week'].cat.set_categories(new_categories=['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
/var/folders/sk/mhxp_9vj5j7fvwbv0tspsvlh0000gn/T/ipykernel_3181/3408766238.py:35: FutureWarning: The `inplace` parameter in pandas.Categorical.set_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  df['hour'].cat.set_categories(new_categories=list(range(24)), ordered=True, inplace=True)

Predicted parking zone: Zone 1
Predicted probabilities: [0.9317402 0.0385231 0.0297367]